{:jwt-secret "LOCAL_ONLY"
 :app-base "http://localhost:8080"
 :webserver/http-port 8081
 :env "dev"
 :dscloj-provider "openrouter"

 ;; LocalStack Configuration
 :localstack/enabled true
 :localstack/endpoint "http://localhost:4566"

 ;; AWS Configuration
 :aws/region "us-east-1"
 :kms-key-id "alias/grain-local-key"
 :s3-bucket "grain-files"
 :email-from "noreply@demo.net"

 ;; Langfuse Configuration
 :langfuse/host "https://us.cloud.langfuse.com"
 :langfuse/public-key "pk-lf-e8b544d1-562e-4407-9bea-e1498feb5308"
 :langfuse/secret-key "sk-lf-1cf95429-a0c4-45e2-b400-a7c49d4d63d3"}