{:paths ["src" "resources"]
 :deps {com.cognitect.aws/api {:mvn/version "0.8.723"}
        com.cognitect.aws/endpoints {:mvn/version "871.2.29.52"}
        com.cognitect.aws/s3
        {:mvn/version "871.2.29.52",
         :aws/serviceFullName "Amazon Simple Storage Service"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}

