{:paths ["src" "resources"]
 :deps {com.cognitect.aws/api {:mvn/version "0.8.762"}
        com.cognitect.aws/endpoints {:mvn/version "871.2.32.30"}
        com.cognitect.aws/sesv2 {:mvn/version "871.2.32.15"
                                 :aws/serviceFullName "Amazon Simple Email Service"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}

