{:paths []
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}

        obneyai/grain-core-v2 {:git/url "https://github.com/ObneyAI/grain.git"
                               :git/sha "3c050c7957bc6c3087ed4e42c4a8dcf28109c57a"
                               :deps/root "projects/grain-core-v2"}

        orc/orc-service       {:local/root "../../components/orc-service"}
        orc/gepa              {:local/root "../../components/gepa"}
        orc/evaluation        {:local/root "../../components/evaluation"}
        orc/colbert           {:local/root "../../components/colbert"}
        orc/ontology          {:local/root "../../components/ontology"}
        orc/mcp-sheet-builder {:local/root "../../components/mcp-sheet-builder"}
        orc/langfuse          {:local/root "../../components/langfuse"}

        ;; LLM Providers
        litellm/bedrock       {:git/url "https://github.com/ObneyAI/litellm-clj.git"
                               :git/sha "cf68d55f9a19a6b485220a8cb3af4c12896355a6"
                               :deps/root "contrib/bedrock"}}

 :aliases {:test {:extra-paths []
                  :extra-deps {orc/grain-test-utils {:local/root "../../components/grain-test-utils"}
                               obneyai/grain-control-plane {:git/url "https://github.com/ObneyAI/grain.git"
                                                            :git/sha "3c050c7957bc6c3087ed4e42c4a8dcf28109c57a"
                                                            :deps/root "projects/grain-control-plane"}}}}}
