{:paths []
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}

        obneyai/grain-core-v2 {:git/url "https://github.com/ObneyAI/grain.git"
                               :git/sha "9e86f130f278351d4e4ac1f06acdf1e6b934abaf"
                               :deps/root "projects/grain-core-v2"}

        orc/orc-service       {:local/root "../../components/orc-service"}
        orc/gepa              {:local/root "../../components/gepa"}
        orc/evaluation        {:local/root "../../components/evaluation"}
        orc/colbert           {:local/root "../../components/colbert"}
        orc/ontology          {:local/root "../../components/ontology"}
        orc/mcp-sheet-builder {:local/root "../../components/mcp-sheet-builder"}
        orc/langfuse          {:local/root "../../components/langfuse"}

        ;; LLM Providers
        litellm/bedrock       {:git/url "https://github.com/ObneyAI/litellm-clj.git"
                               :git/sha "8875a044c2f023d6e3901216243444a793c00087"
                               :deps/root "contrib/bedrock"}}

 :aliases {:test {:extra-paths []
                  :extra-deps {orc/grain-test-utils {:local/root "../../components/grain-test-utils"}
                               obneyai/grain-control-plane {:git/url "https://github.com/ObneyAI/grain.git"
                                                            :git/sha "9e86f130f278351d4e4ac1f06acdf1e6b934abaf"
                                                            :deps/root "projects/grain-control-plane"}}}}}
