{:hooks {:analyze-call {ai.obney.grain.command-processor.interface/defcommand hooks.grain/defcommand
                        ai.obney.grain.query-processor.interface/defquery hooks.grain/defquery
                        ai.obney.grain.schema-util.interface/defschemas hooks.grain/defschemas}}
 :linters {:clojure-lsp/unused-public-var
           {:exclude-when-defined-by [ai.obney.grain.command-processor.interface/defcommand
                                      ai.obney.grain.query-processor.interface/defquery
                                      ai.obney.grain.schema-util.interface/defschemas]}}}
