{:paths ["src" "resources"]
 :deps {com.brunobonacci/mulog-adv-console {:mvn/version "0.9.0"}
        yogthos/config {:mvn/version "1.2.1"}
        nrepl/nrepl {:mvn/version "1.3.1"}

        obneyai/grain-core                               {:git/url "https://github.com/ObneyAI/grain.git"
                                                          :sha "cbaf084a07cc510623bc315ab2e001dc72fcca94"
                                                          :deps/root "projects/grain-core"}

        obneyai/grain-event-store-postgres-v2            {:git/url "https://github.com/ObneyAI/grain.git"
                                                          :sha "cbaf084a07cc510623bc315ab2e001dc72fcca94"
                                                          :deps/root "projects/grain-event-store-postgres-v2"}

        obneyai/grain-dspy-extensions                    {:git/url "https://github.com/ObneyAI/grain.git"
                                                          :sha "cbaf084a07cc510623bc315ab2e001dc72fcca94"
                                                          :deps/root "projects/grain-dspy-extensions"}

        obneyai/grain-mulog-aws-cloudwatch-emf-publisher {:git/url "https://github.com/ObneyAI/grain.git"
                                                          :sha "cbaf084a07cc510623bc315ab2e001dc72fcca94"
                                                          :deps/root "projects/grain-mulog-aws-cloudwatch-emf-publisher"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}

