{:paths ["src" "resources"]
 :deps {io.github.ObneyAI/DSCloj {:git/url "https://github.com/ObneyAI/DSCloj.git"
                                  :git/sha "7948a27c367c8928d167750f0da285cec8c87215"}
        com.brunobonacci/mulog {:mvn/version "0.9.0"}
        org.babashka/sci {:mvn/version "0.8.43"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
