{:paths ["src" "resources"]
 :deps {ai.djl/api {:mvn/version "0.31.1"}
        ai.djl.huggingface/tokenizers {:mvn/version "0.31.1"}
        ai.djl.pytorch/pytorch-engine {:mvn/version "0.31.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
